{% load url from future %}
<!DOCTYPE html> 
<html> 
<head>
	<base href="https://n800s.dyndns.org:7443/robo/">
	<title>Robo Homo</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
<--	<script src="js/robo.js"></script> 
	<style type="text/css">
		html.busy, html.busy * {
			cursor: wait !important;
		}
	</style>
	<script>
	$(document).ready(function() {
		$.ajaxSetup({
			cache: false
		});
		var update_images = function(msg) {
			alert("update:" + msg);
		};
		$("#image_but").click(function () {
			$("#placeholder").attr("src", "cam.png");
		});
		$("#move_up").click(function () {
			jQuery.ajax(
				url="{% url 'robo.views.move_up' %}"
			).done(update_images);
		});
		$("#move_left").click(function () {
			jQuery.ajax(
				url="{% url 'robo.views.move_left' %}"
			).done(update_images);
		});
		$("#move_right").click(function () {
			jQuery.ajax(
				url="{% url 'robo.views.move_right' %}"
			).done(update_images);
		});
		$("#move_down").click(function () {
			jQuery.ajax(
				url="{% url 'robo.views.move_down' %}"
			).done(update_images);
		});
//	var loading = function(){
//		$.mobile.loader.prototype.options.text = "loading";
//		$.mobile.loader.prototype.options.textVisible = false;
//		$.mobile.loader.prototype.options.theme = "a";
//		$.mobile.loader.prototype.options.html = "";
//	}
//	$.ajaxStart(function() {
//		$.addClass('busy');
//	}).ajaxComplete(function() {
//		$.removeClass('busy');
//	});
//	$.ajax({
//	  url: '/bon',
//	  success: function(data) {
//	    $('camver').html(data);
//	  }
//	});
	$(function() {
	        $( "#menu" ).menu();
	});
});
</script>
</head> 
<body> 

<div data-role="page">

	<div data-role="header">
		<h1>Robo homo</h1>
	</div><!-- /header -->

	<ul id="menu">
		<li><a href="{% url 'robo.views.histogram' %}" data-ajax="false">Histogram {{page}}</a></li>
		<li><a href="cam">Camera</a></li>
	</ul>

	<div data-role="content">
	Nothing
	</div><!-- /content -->

	<div id="camver"></div>
	<img id="placeholder" width="160" height="80"></img>

<table>
<tr><td colspan="2" align="center"><button type="button" id="move_up">Up</button></td></tr>
<tr><td><button type="button" id="move_left">&lt;</button></td><td><button type="button" id="move_right">&gt;</button></td></tr>
<tr><td colspan="2" align="center"><button type="button" id="move_down">Down</button></td></tr>
</table>
</div><!-- /page -->

</body>
</html>
