<launch>

	<node name="master_sync_opcplus" pkg="master_sync_fkie" type="master_sync">
	</node>

	<node name="master_discovery_opcplus" pkg="master_discovery_fkie" type="zeroconf">
	</node>

<!--
	<node name="master_discovery_opcplus" pkg="master_discovery_fkie" type="master_discovery">
	</node>
-->


	<include file="topcam_server.launch">
	</include>

	<node name="joined_images" pkg="image2video" type="img2join.py" output="screen">
		<remap from="image_raw/compressed" to="/opcplus/image_raw/compressed" />
	</node>

<!--
	<include file="dn_detect.launch">
	</include>
-->

<!--
	<node pkg="image_view" type="image_saver" name="image_saver" output="screen">
		<remap from="image" to="image_raw" />
		<param name="filename_format" value="/home/n800s/public_html/protopupis/last_tmp.png" />
		<param name="save_all_image" value="false" />
	</node>
	<node pkg="image_view" type="image_saver" name="image_saver_raspi" output="screen">
		<remap from="image" to="/ow_camera/image_raw" />
		<param name="filename_format" value="/home/n800s/public_html/protopupis/last_rasp_tmp.png" />
		<param name="save_all_image" value="false" />
	</node>
-->

</launch>


