<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>Sliders</title>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- Angular Material style sheet -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css"/>
</head>
<body ng-app="myApp">

	<div ng-controller="AppCtrl" ng-cloak>
		<md-content style="margin: 16px; padding:16px">

	<img src="stream.mjpg" width="160" height="120"/>

				<div ng-repeat="srv in settings track by srv.s_id" layout="row" layout-wrap ng-switch="srv.stype">
					<div flex="50" flex-gt-sm="20">
						<span>{{srv.s_id}}:{{values[srv.s_id]}} -> {{cam_values[srv.s_id]}}</span>
					</div>
					<div flex="100" flex-gt-sm="65" ng-switch-when="slider">
						<md-slider ng-model="values[srv.s_id]" step="1" min="{{srv.vmin}}" max="{{srv.vmax}}" style="width: 200px">
						</md-slider>
					</div>
					<div flex="100" flex-gt-sm="65" ng-switch-when="select">
						<md-select ng-model="values[srv.s_id]">
							<md-option ng-value="value" ng-repeat="value in srv.values track by $index">{{ value }}</md-option>
						</md-select>
					</div>
				</div>

		</md-content>
	</div>

	<!-- Angular Material requires Angular.js Libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

	<!-- Angular Material Library -->
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

	<!-- Your application bootstrap	-->
	<script type="text/javascript" src="app.js"></script>

</body>
</html>



