<launch>

	<!-- Worker threads for the nodelet manager -->
	<arg name="num_worker_threads" default="4" />

	<arg name="namespace" value="rpi3" />

	<group ns="$(arg namespace)">

		<arg name="rgb_topic"            default="/$(arg namespace)/camera/rgb/image_rect_color" />
		<arg name="depth_topic"          default="/$(arg namespace)/camera/depth_registered/image_raw" />
		<arg name="camera_info_topic"    default="/$(arg namespace)/camera/rgb/camera_info" />

		<arg name="compressed"  default="false"/> <!-- If you want to subscribe to compressed image topics -->
		<arg name="rgb_image_transport"     default="compressed"/>    <!-- Common types: compressed, theora (see "rosrun image_transport list_transports") -->
		<arg name="depth_image_transport"   default="compressedDepth"/>  <!-- Common types: compressed, theora (see "rosrun image_transport list_transports") -->

		<arg if="$(arg compressed)"     name="rgb_topic_relay"     default="$(arg rgb_topic)_relay"/>
		<arg unless="$(arg compressed)" name="rgb_topic_relay"     default="$(arg rgb_topic)"/>
		<arg if="$(arg compressed)"      name="depth_topic_relay"  default="$(arg depth_topic)_relay"/>
		<arg unless="$(arg compressed)" name="depth_topic_relay"   default="$(arg depth_topic)"/>

		<!-- RGB-D Odometry -->
		<node if="$(arg compressed)" name="republish_rgb" type="republish" pkg="image_transport" args="$(arg rgb_image_transport) in:=$(arg rgb_topic) raw out:=$(arg rgb_topic_relay)" />
		<node if="$(arg compressed)" name="republish_depth" type="republish" pkg="image_transport" args="$(arg depth_image_transport) in:=$(arg depth_topic) raw out:=$(arg depth_topic_relay)" />

		<node pkg="rtabmap_ros" type="rgbd_odometry" name="rgbd_odometry" output="screen">
			<remap from="rgb/image"			 to="$(arg rgb_topic_relay)"/>
			<remap from="depth/image"		 to="$(arg depth_topic_relay)"/>
			<remap from="rgb/camera_info" to="$(arg camera_info_topic)"/>

			<param name="frame_id" type="string" value="base_link"/> <!-- Fixed frame id, you may set "base_link" or "base_footprint" if they are published -->
			<param name="wait_for_transform_duration" type="double" value="0.4"/>
			<param name="approx_sync" type="bool" value="true"/>
			<param name="config_path" type="string" value=""/> <!-- To change RTAB-Map's parameters, set the path of config file (*.ini) generated by the standalone app -->
			<param name="queue_size" type="int" value="40"/>

			<param name="Reg/Force3DoF" type="bool" value="true" />

			<param name="Odom/VisKeyFrameThr" value="0" />

<!-- [0=SURF 1=SIFT 2=ORB 3=FAST/FREAK 4=FAST/BRIEF 5=GFTT/FREAK 6=GFTT/BRIEF 7=BRISK 8=GFTT/ORB.] -->
			<param name="Vis/FeatureType" value="2" />
			<param name="Vis/MinInliers" value="10" />

<!-- [Motion estimation approach: 0:3D->3D, 1:3D->2D (PnP), 2:2D->2D (Epipolar Geometry)] -->
			<param name="Vis/EstimationType" value="1" /> 

			<param name="Vis/CorType" value="0" />

			<!-- does not work without -->
			<param name="Odom/Strategy" type="string" value="0"/>

		</node>

	</group>

</launch>



