<launch>

	<!-- Worker threads for the nodelet manager -->
	<arg name="num_worker_threads" default="4" />

	<arg name="namespace" value="rpi3" />

	<group ns="$(arg namespace)">

		<arg name="rgb_topic"            default="/$(arg namespace)/camera/data_throttled_image" />
		<arg name="depth_topic"          default="/$(arg namespace)/camera/data_throttled_image_depth" />
		<arg name="camera_info_topic"    default="/$(arg namespace)/camera/data_throttled_camera_info" />

<!--
		<arg name="rgb_topic"            default="/$(arg namespace)/camera/rgb/image_rect_color" />
		<arg name="depth_topic"          default="/$(arg namespace)/camera/depth_registered/image_raw" />
		<arg name="camera_info_topic"    default="/$(arg namespace)/camera/rgb/camera_info" />
-->
		<arg name="compressed"  default="true"/> <!-- If you want to subscribe to compressed image topics -->
		<arg name="rgb_image_transport"     default="compressed"/>    <!-- Common types: compressed, theora (see "rosrun image_transport list_transports") -->
		<arg name="depth_image_transport"   default="compressedDepth"/>  <!-- Common types: compressed, theora (see "rosrun image_transport list_transports") -->

		<arg if="$(arg compressed)"     name="rgb_topic_relay"     default="$(arg rgb_topic)_relay"/>
		<arg unless="$(arg compressed)" name="rgb_topic_relay"     default="$(arg rgb_topic)"/>
		<arg if="$(arg compressed)"      name="depth_topic_relay"  default="$(arg depth_topic)_relay"/>
		<arg unless="$(arg compressed)" name="depth_topic_relay"   default="$(arg depth_topic)"/>

		<node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
			<param name="subscribe_depth"  type="bool" value="true"/>
			<param name="subscribe_scan"       type="bool"   value="false"/>
			<param name="subscribe_scan_cloud" type="bool"   value="false"/>
			<param name="frame_id"             type="string" value="base_link"/>
			<param name="odom_frame_id"        type="string" value="odom"/>
			<param name="wait_for_transform_duration"  type="double"   value="0.6"/>
			<param name="database_path"        type="string" value="~/.ros/rtabmap.db"/>
			<param name="approx_sync"          type="bool"   value="true"/>
			<param name="config_path"          type="string" value=""/>
			<param name="queue_size"           type="int" value="40"/>

			<remap from="rgb/image"       to="$(arg rgb_topic_relay)"/>
			<remap from="depth/image"     to="$(arg depth_topic_relay)"/>
			<remap from="rgb/camera_info" to="$(arg camera_info_topic)"/>
			<remap from="grid_map" to="/$(arg namespace)/map"/>


			<param name="RGBD/AngularUpdate" type="string" value="0.01"/>
			<param name="RGBD/LinearUpdate" type="string" value="0.01"/>
			<param name="Rtabmap/TimeThr" type="string" value="700"/>
			<param name="Mem/RehearsalSimilarity" type="string" value="0.45"/>
			<param name="RGBD/OptimizeFromGraphEnd" type="string" value="true"/>


			<param name="Reg/Force3DoF"    value="true" />
			<param name="Optimizer/Slam2D" value="true" />

<!-- [0=SURF 1=SIFT 2=ORB 3=FAST/FREAK 4=FAST/BRIEF 5=GFTT/FREAK 6=GFTT/BRIEF 7=BRISK 8=GFTT/ORB.] -->
			<param name="Vis/FeatureType" value="2" />
			<param name="Vis/MinInliers" value="10" />

<!-- [Motion estimation approach: 0:3D->3D, 1:3D->2D (PnP), 2:2D->2D (Epipolar Geometry)] -->
			<param name="Vis/EstimationType" value="1" /> 

			<!-- does not work without -->
			<param name="Odom/Strategy" type="string" value="0"/>

			<param name="Vis/CorType" value="0" />

<!--
			<param name="Mem/IncrementalMemory" type="string" value="true"/>
			<param name="Mem/InitWMWithAllNodes" type="string" value="true"/>
-->


		</node>

	</group>

</launch>



