<launch>

	<arg name="namespace" value="rpi3" />

	<group ns="$(arg namespace)">

		<node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
			<remap from="image" to="/$(arg namespace)/camera/depth/image_raw"/>
		</node>

		<node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen">
			<param name="fixed_frame" value = "odom"/>
			<param name="max_iterations" value="10"/>
		</node>

	</group>

</launch>



