canvas.chart {
	width: 500px;
}

div.value-cards {
	padding: 16px;
	display: flex;
	flex-wrap: wrap;
}

.md-content {
	width: 100px;
	height: 100px;
	margin: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}
