<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>Player Test</title>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<link rel="stylesheet" href="style.css">
</head>
<body bgcolor="#FFFFFF" >

	<div ng-app="myApp">
		<div ng-controller="HomeCtrl as controller">

			<button onclick="location.reload()">&orarr;</button>
			<p/>

			<div class="preview" ng-repeat="src in controller.preview_images track by $index">
				<img ng-src="{{src.url}}"></img>{{src.label}}
			</div>
			<div ng-repeat="fl in flist track by $index">
				<small ng-class="{'bold': flist[fpointer] == fl, 'selectable': flist[fpointer] != fl}" ng-click="select_file(fl)">{{fl.substr(0, 19)}}<small>
			</div>
			<div class="video">
				<videogular vg-theme="controller.config.theme">
					<vg-media vg-src="controller.config.sources"
							vg-tracks="controller.config.tracks">
					</vg-media>

					<vg-controls class="top-level">
						<vg-play-pause-button></vg-play-pause-button>
						<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
					</vg-controls>

					<vg-controls class="middle-level">
						<vg-scrub-bar>
							<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
						</vg-scrub-bar>
					</vg-controls>

					<vg-controls class="bottom-level">
						<div button_shoot class="iconButton embutton" ng-model="controller.preview_images">&radic;</div>
						<div button_step_back class="iconButton embutton">&NestedLessLess;</div>
						<div button_step_fwd class="iconButton embutton">&NestedGreaterGreater;</div>
						<div ng-click="change_url(fpointer + 1)" class="iconButton embutton">&looparrowright;</div>
					</vg-controls>
				</videogular>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.min.js"></script>
	<script src="https://unpkg.com/videogular@2.1.2/dist/videogular/videogular.js"></script>
	<script src="https://unpkg.com/videogular@2.1.2/dist/controls/vg-controls.js"></script>
	<script src="https://unpkg.com/videogular@2.1.2/dist/overlay-play/vg-overlay-play.js"></script>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>
