<html>
<head>
	<title>Player Test</title>
	<link rel="stylesheet" href="style.css">
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="node_modules/videogular/videogular.js"></script>
	<script src="node_modules/videogular-controls/vg-controls.js"></script>
	<script src="node_modules/videogular-buffering/vg-buffering.js"></script>
	<script src="node_modules/videogular-overlay-play/vg-overlay-play.js"></script>
	<script type="text/javascript" src="main.js"></script>
</head>
<body bgcolor="#FFFFFF" >

	<div ng-app="myApp">
		<div ng-controller="HomeCtrl as controller">

			<button onclick="location.reload()">&orarr;</button>
			<p/>

			<div class="preview">
				<img ng-src="{{controller.image_preview}}" ng-if="controller.image_preview"></img>
			</div>
			<div class="video">
				<videogular vg-theme="controller.config.theme">
					<vg-media vg-src="controller.config.sources"
							vg-tracks="controller.config.tracks">
					</vg-media>

					<vg-controls class="top-level">
						<vg-play-pause-button></vg-play-pause-button>
						<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
					</vg-controls>

					<vg-controls class="middle-level">
						<vg-scrub-bar>
							<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
						</vg-scrub-bar>
					</vg-controls>

					<vg-controls class="bottom-level">
						<div button_shoot class="iconButton embutton" ng-model="controller.image_preview">&radic;</div>
						<div button_step_back class="iconButton embutton">&NestedLessLess;</div>
						<div button_step_fwd class="iconButton embutton">&NestedGreaterGreater;</div>
					</vg-controls>
					<vg-overlay-play></vg-overlay-play>
				</videogular>
			</div>
		</div>
	</div>

</body>
</html>
