<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">

<!--
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.2.0/vue-router.js"></script>
-->
		<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
		<link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.css">
		<link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">

		<script src="https://unpkg.com/vue"></script>
		<script src="https://unpkg.com/vue-material"></script>


		<script src="{{url_for('static', filename='moment.js')}}"></script>
		<script src="{{url_for('static', filename='app.js')}}"></script>
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css"></link>
		<title>Flask-SocketIO Test</title>
	</head>
	<body onLoad="initApp()">

		<div id="app">

			<md-tabs @md-changed="tabChange">
				<md-tab id="home" md-label="Home">
				</md-tab>
				<md-tab id="single" md-label="Single">
				</md-tab>
				<md-tab id="multi" md-label="Multi">
				</md-tab>
			</md-tabs>

			<div v-if="currentTab == 'single'">
				Server ts: <%server_ts%>
				<br/>
				Data ts: <%card_values.ts%>
				<br/>
				<div class="value-cards">
					<md-content class="md-elevation-1" v-for="indx in card_index_list">
						<table>
							<tr>
								<td>
									<%card_labels[indx]%>
								</td>
							</tr>
							<tr>
								<th>
									<%card_values[indx]%>
								</th>
							</tr>
						</table>
					</md-content>
				</div>

			</div>

			<div v-if="currentTab == 'multi'">

				<div class="md-layout md-gutter md-alignment-center">
					<div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100" v-for="gt in gTypes">
						<keep-alive>
							<chart v-bind:chart-options="bar_charts[gt]" v-bind:ts="server_ts"></chart>
						</keep-alive>
					</div>
				</div>
				<div class="md-layout md-gutter md-alignment-center">
					<div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100" v-for="gt in gTypes">
						<keep-alive>
							<chart v-bind:chart-options="line_charts[gt]" v-bind:ts="server_ts"></chart>
						</keep-alive>
					</div>
				</div>


			</div>


		</div>
	</body>
</html>
