.btn {
	width: 100%;
}

.mr-image {
	margin: 0;
}

.drawer {
	padding-left: 5px;
}

.drawer table {
	border-collapse: collapse;
	border-width: 0px;
}

.drawer tr {
	border-width: 1px;
}

.drawer td {
	padding-left: 5px;
	border: solid black 1px;
}

table {
	border-collapse: collapse;
}

.label, .negative {
	text-align: center;
}

table.images {
	width: 100px;
	margin: 5px;
}

td.thumb {
	cursor: pointer;
}

table.images th, table.images td {
	border-right: solid 1px black;
}

.labelled {
	background-color: #DDDDDD;
}
