<launch>

	<node name="master_sync_opcplus" pkg="master_sync_fkie" type="master_sync">
	</node>

	<node name="master_discovery_opcplus" pkg="master_discovery_fkie" type="zeroconf">
	</node>

<!--
	<node name="master_discovery_opcplus" pkg="master_discovery_fkie" type="master_discovery">
	</node>
-->


	<include file="topcam_server.launch">
	</include>

	<node name="joined_images" pkg="image2video" type="img2join.py" output="screen">
		<remap from="image_raw/compressed" to="/opcplus/image_raw/compressed" />
	</node>


	<node pkg="dn_object_detect" type="dn_object_detect" name="dn_object_detect" output="screen">
		<param name="_image_transport" type="str" value="raw"/>
		<param name="camera" type="str" value="/videofile/image_raw"/>
		<param name="yolo_config" type="str" value="/home/n800s/catkin_ws/src/dn_object_detect/data/yolo-tiny.cfg"/>
		<param name="yolo_model" type="str" value="/home/n800s/catkin_ws/src/dn_object_detect/data/yolo-tiny.weights"/>
		<param name="threshold" type="double" value="0.2"/>
	</node>

	<!-- launch video stream -->
	<include file="$(find video_stream_opencv)/launch/camera.launch" >
	 		<!-- node name and ros graph name -->
			<arg name="camera_name" value="videofile" />
			<!-- full path to the video file -->
			<arg name="video_stream_provider" value="/home/n800s/install/darknet/play.avi" />
			<!-- throttling the querying of frames to -->
			<arg name="fps" value="5" />
			<!-- setting frame_id -->
			<arg name="frame_id" value="videofile_frame" />
			<!-- camera info loading, take care as it needs the "file:///" at the start , e.g.:
			"file:///$(find your_camera_package)/config/your_camera.yaml" -->
			<arg name="camera_info_url" value="" />
			<!-- flip the image horizontally (mirror it) -->
			<arg name="flip_horizontal" value="false" />
			<!-- flip the image vertically -->
			<arg name="flip_vertical" value="false" />
			<!-- visualize on an image_view window the stream generated -->
			<arg name="visualize" value="false" />
	</include>


<!--
	<node pkg="image_view" type="image_saver" name="image_saver" output="screen">
		<remap from="image" to="image_raw" />
		<param name="filename_format" value="/home/n800s/public_html/protopupis/last_tmp.png" />
		<param name="save_all_image" value="false" />
	</node>
	<node pkg="image_view" type="image_saver" name="image_saver_raspi" output="screen">
		<remap from="image" to="/ow_camera/image_raw" />
		<param name="filename_format" value="/home/n800s/public_html/protopupis/last_rasp_tmp.png" />
		<param name="save_all_image" value="false" />
	</node>
-->

</launch>


