<launch>

	<node name="master_sync_radxa" pkg="master_sync_fkie" type="master_sync">
	</node>

<!--
	<node name="master_discovery_radxa" pkg="master_discovery_fkie" type="master_discovery">
	</node>
-->

	<node name="master_discovery_radxa" pkg="master_discovery_fkie" type="zeroconf">
	</node>

	<include file="rosbridge_websocket.launch">
	</include>

</launch>


