<robot name="orange_on_wheels">

	<link name="base_link">
		<visual>
			<geometry>
				<box size="0.21 0.17 0.003"/>
			</geometry>
			<origin xyz="0 0 0.015" rpy="0 0 0"/>
			<material name="yellow">
				<color rgba="1 1 0 0.5"/>
			</material>
		</visual>
	</link>

	<link name="lwheel">
		<visual>
			<geometry>
				<cylinder length="0.025" radius="0.0325"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<material name="black">
				<color rgba="0 0 0 1"/>
			</material>
		</visual>
	</link>

	<joint name="base_to_lwheel" type="fixed">
		<parent link="base_link"/>
		<child link="lwheel"/>
		<origin xyz="0 0.07 -0.01" rpy="1.5708 0 0"/>
	</joint>

	<link name="rwheel">
		<visual>
			<geometry>
				<cylinder length="0.025" radius="0.0325"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<material name="black">
				<color rgba="0 0 0 1"/>
			</material>
		</visual>
	</link>

	<joint name="base_to_rwheel" type="fixed">
		<parent link="base_link"/>
		<child link="rwheel"/>
		<origin xyz="0 -0.07 -0.01" rpy="-1.5708 0 0"/>
	</joint>

	<link name="back_wheel">
		<visual>
			<geometry>
				<cylinder length="0.014" radius="0.0165"/>
			</geometry>
			<origin rpy="1.578 0 0" xyz="0 0 0"/>
			<material name="white">
				<color rgba="0.9 0.9 0.9 1"/>
			</material>
		</visual>
	</link>

	<link name="back_wheel_attach">
		<visual>
			<geometry>
				<box size="0.02 0.025 0.02"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<material name="gray">
				<color rgba="0.5 0.5 0.5 1"/>
			</material>
		</visual>
	</link>

	<joint name="base_to_back_attach" type="fixed">
		<parent link="base_link"/>
		<child link="back_wheel_attach"/>
		<origin xyz="-0.08 0 0" rpy="0 0 0"/>
	</joint>

	<joint name="back_wheel_attach_to_back_wheel" type="fixed">
		<parent link="back_wheel_attach"/>
		<child link="back_wheel"/>
		<origin xyz="0 0 -0.02" rpy="0 0 0"/>
	</joint>

	<link name="back_ultrasound">
		<visual>
			<geometry>
				<box size="0.015 0.045 0.015"/>
			</geometry>
			<origin rpy="0 0 3.14" xyz="-0.022 0 0.007"/>
			<material name="green">
				<color rgba="0 1 0 1"/>
			</material>
		</visual>
	</link>

	<joint name="base_to_back_scanner" type="fixed">
		<parent link="base_link"/>
		<child link="back_ultrasound"/>
		<origin xyz="-0.095 0 0.007" rpy="0 0 3.14"/>
	</joint>

	<link name="ultrasound">
		<visual>
			<geometry>
				<box size="0.015 0.045 0.015"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0.022 0 0.007"/>
			<material name="green">
				<color rgba="0 1 0 1"/>
			</material>
		</visual>
	</link>

	<joint name="base_to_scanner" type="fixed">
		<parent link="base_link"/>
		<child link="ultrasound"/>
		<origin xyz="0.095 0 0.007" rpy="0 0 0"/>
	</joint>

	<joint name="base_to_base_footprint" type="fixed">
		<parent link="base_link"/>
		<child link="base_footprint"/>
		<origin xyz="0.04 0 0.135" rpy="0 0 0"/>
	</joint>

	<joint name="base_footprint_to_imu" type="fixed">
		<parent link="base_footprint"/>
		<child link="imu"/>
		<origin xyz="0 0 0.1" rpy="0 0 0"/>
	</joint>

	<link name="base_footprint">
		<visual>
			<geometry>
				<box size="0.01 0.12 0.255"/>
			</geometry>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<material name="orange">
				<color rgba="1 0.5 0.5 0.5"/>
			</material>
		</visual>
	</link>

	<link name="imu">
		<visual>
			<geometry>
				<box size="0.01 0.01 0.01"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0 0 0.03"/>
			<material name="blue">
				<color rgba="0 0 1 1"/>
			</material>
		</visual>
	</link>

	<link name="odom">
	</link>

	<joint name="base_to_odom" type="fixed">
		<parent link="odom"/>
		<child link="base_link"/>
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</joint>

</robot>
