<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3">
	<title>Ra Test</title>
	<link rel="stylesheet" href="mr-image/mr-image.min.css">
	<link rel="stylesheet" href="style.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<!--	<script src="mr-image/mr-image.min.js"></script> -->
	<script src="mr-image/mr-image-drawer.js"></script>
	<script src="mr-image/mr-image-selector.js"></script>
	<script src="mr-image/mr-image.js"></script>
	<script src="main.js"></script>
</head>
<body>

<button onclick="location.reload()">&orarr;</button>
<br/>

<div ng-app='myApp' ng-controller='MyController' ng-cloak>

	<div>
		<button ng-click="prevPage()" ng-disabled="start <= 0">&pr;</button>
		<button ng-click="nextPage()" ng-disabled="count > data.length">&sc;</button>
	</div>

	{{start}} - {{start+count-1}}<br/>

	<input type="checkbox" ng-model="filter_unticked">Non-ticked</input>

	<table class="images">
		<tr>
			<th></th>
			<th ng-repeat="l in labels track by $index">
				{{l}}
			</th>
			<th>Neg</th>
		</tr>
		<tr ng-repeat="el in data" ng-class="[{labelled: is_labelled(el)}]" ng-if="!(filter_unticked && is_labelled(el))">
			<td class="thumb">
				<img ng-src="{{el.thumb}}" alt="{{el.bname}}" ng-click="thumb_click(el)" title="{{el.bname}}"></img>
			</td>
			<td ng-repeat="l in labels track by $index" class="label">
				<input type="checkbox" ng-model="el.labels[l]" ng-click="labelate(el)"></input>
			</td>
			<td class="negative">
				<input type="checkbox" ng-model="el.negative" ng-click="negate(el)"></input>
			</td>
		</tr>
	</table>

	<div ng-if="el">
		<button class="btn" ng-click="addRect()">&plus;</button>
		<table>
			<tr>
				<td>
					<div mr-image
						mr-src="el.image"
						mr-selector="selector"
						mr-drawer="el.drawer"
						mr-max-width="200"
					>
					</div>
				</td>
				<td>
					<div class="drawer">
					</div>
				</td>
			</tr>
		</table>
		<table>
			<tr ng-repeat="rect in el.drawer">
				<td>{{rect.x1|number: 0}},{{rect.y1|number: 0}}<br/></td>
				<td><br/>{{rect.x2|number: 0}},{{rect.y2|number: 0}}</td>
				<td><button ng-click="removeRect(rect)">&cross;</button></td>
			</tr>
		</table>
		<button ng-click="clearDrawer()">Clear</button>
	</div>


</div>

</body>
</html>
