<launch>

	<node name="ow_chassis" pkg="rosserial_python" type="serial_node.py" output="screen">
		<param name="port" value="/dev/serial/by-id/usb-1a86_USB2.0-Serial-if00-port0"/>
		<param name="baud" value="57600"/>
	</node>

	<node name="master_sync_hubee" pkg="master_sync_fkie" type="master_sync">
	</node>

	<node name="master_discovery_hubee" pkg="master_discovery_fkie" type="zeroconf">
	</node>

<!--
	<node name="master_discovery_hubee" pkg="master_discovery_fkie" type="master_discovery">
	</node>
-->

<!--
	<node name="ow_chassis" pkg="fchassis" type="ros_fchassis.py" output="screen">
	</node>
-->

<!--
	<include file="$(find raspicam_nd)/launch/raspicam_nd.launch">
	</include>
-->

<!-- ComplementaryFilter launch file -->
  #### Nodelet manager ######################################################

  <node pkg="nodelet" type="nodelet" name="imu_manager" 
    args="manager" output="screen" />

  #### Complementary filter

  <node pkg="imu_complementary_filter" type="complementary_filter_node"
      name="complementary_filter_gain_node" output="screen">
<remap from="imu/data_raw" to="fchassis/imu"/>
<remap from="imu/mag" to="fchassis/mf"/>
    <param name="do_bias_estimation" value="true"/>
    <param name="do_adaptive_gain" value="true"/>
    <param name="use_mag" value="true"/>
    <param name="gain_acc" value="0.01"/>
    <param name="gain_mag" value="0.01"/>
  </node>

<!-- sensors now formed from state of fchassis
	<include file="$(find ow_sensors)/launch/sensors.launch">
	</include>
-->

</launch>
