<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>Sliders</title>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- Angular Material style sheet -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css"/>
	<link rel="stylesheet" href="app.css"/>
</head>
<body ng-app="myApp">

	<div ng-controller="AppCtrl" ng-cloak>
		<md-content style="margin: 16px; padding:16px">
			<div layout="row" layout-wrap>
				<div flex="33" flex-gt-sm="100">
					<table>
						<tr>
							<td>
								<label>{{templist[templist.length-1]|number:0}}</label>
							</td>
							<td>
								<span ng-if="temp2set_confirmed !== undefined">
									...
								</span>
							</td>
							<td style="white-space: nowrap">
								<span ng-if="temp2set_confirmed !== undefined">
									{{temp2set_confirmed}}
									<span ng-if="heating">&uparrow;</span>
									<span ng-if="cooling">&downarrow;</span>
								</span>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div layout="row" layout-wrap>
				<div flex="33" flex-gt-sm="100">
<!-- <br/>{{templist}}<br/>{{min_temp()}}<br/>{{max_temp()}}<br/> -->

					<div class="chart" style="width:{{plot_width}}px; height:{{plot_height}}px;">

						<!-- Labels -->
						<div class="y" style="width:{{height}}px;">{{yAxis}}</div>
						<div class="x">{{xAxis}}</div>

						<div ng-repeat="dot in y_scale() track by $index" class="dot" style="bottom:{{(dot-min_temp()) / (max_temp()-min_temp()) * plot_height}}px; left:0px;">
							<span class="y-label">{{dot}}</span>
						</div>

						<div ng-repeat="dot in x_scale().slice(-20) track by $index" class="dot" style="bottom:0; left:{{(dot + 0.5) / templist.length * plot_width}}px;">
						</div>


						<!-- Data -->
						<svg style="width:{{plot_width}}px; height:{{plot_height}}px;" ng-if="templist.length > 2">

							<line ng-repeat="line in get_templist().slice(0, -1) track by $index" 
										x1="{{$index / get_templist().length * plot_width }}" 
										y1="{{(line-min_temp()) / (max_temp()-min_temp()) * plot_height}}" 
										x2="{{($index + 1) / get_templist().length * plot_width}}" 
										y2="{{(get_templist()[$index + 1]-min_temp()) / (max_temp()-min_temp()) * plot_height}}">
							</line>

						</svg>

					</div>

				</div>
			</div>
			<div layout="row" layout-wrap class="temp-2-set">
				<div flex="33" flex-gt-sm="100">
					<table>
						<tr>
							<td>
								<input type="number" class="temp2set-input" ng-model="temp2set" min="20" max="100"></input>
							</td>
							<td>
								<md-button ng-click="apply(temp2set)">
									Apply
								</md-button>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div layout="row" layout-wrap>
				<div flex="50">
					<div layout="row">
						<div flex="50" flex-gt-sm="5">
							<label>List</label>
						</div>
						<div flex="50" flex-gt-sm="10">
							<span class="clickable" ng-click="edit()">Add</span>
						</div>
					</div>
					<div ng-repeat="s in settings track by $index" layout="row" layout-wrap>
						<div flex="50" flex-gt-sm="5">
							{{$index}}
						</div>
						<div flex="50" flex-gt-sm="10">
							{{s.name}}
						</div>
						<div class="clickable" flex="50" flex-gt-sm="10" ng-click="edit(s)">
							Edit
						</div>
					</div>
				</div>
			</div>
			<div ng-if="editing">
				<label>T</label><input ng-model="editing.time"></input>
				<label>V</label><input ng-model="editing.val"></input>
				<button ng-click="submit()">Submit</button>
			</div>
		</md-content>
	</div>

	<!-- Angular Material requires Angular.js Libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

	<!-- Angular Material Library -->
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

	<!-- Your application bootstrap	-->
	<script type="text/javascript" src="app.js"></script>

</body>
</html>



