<!DOCTYPE html>
<html>
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<script type="text/javascript" src="http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
<script type="text/javascript" src="http://cdn.robotwebtools.org/roslibjs/current/roslib.min.js"></script>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css"/>

</head>

<body ng-app="myApp">

	<div ng-controller="AppCtrl" ng-cloak>
		<md-content style="margin: 16px; padding:16px">

				<div ng-repeat="srv in settings track by srv.s_id" layout="row" layout-wrap>
					<div flex="50" flex-gt-sm="5">
						<md-checkbox ng-model="item_enabled[srv.s_id]">
						</md-checkbox>
					</div>
					<div flex="50" flex-gt-sm="10">
						<span>{{srv.s_id}}</span>
					</div>
					<div flex="50" flex-gt-sm="10">
						<input type="number" ng-model="srv.vmin" required min="0" max="{{srv.vmax}}" style="width: 3em"/>
					</div>
					<div flex="50" flex-gt-sm="10">
						<input type="number" ng-model="srv.vmax" required min="{{srv.vmin}}" max="180" style="width: 3em"/>
					</div>
					<div flex="100" flex-gt-sm="65">
						<md-slider md-discrete ng-model="values[srv.s_id]" step="1" min="{{srv.vmin}}" max="{{srv.vmax}}" style="width: 400px" ng-disabled="!item_enabled[srv.s_id]">
						</md-slider>
					<div>
				</div>

		</md-content>
	</div>

	<!-- Angular Material requires Angular.js Libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

	<!-- Angular Material Library -->
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

	<!-- Your application bootstrap	-->
	<script type="text/javascript" src="app.js"></script>

</body>
</html>

