<launch>

	<!-- Worker threads for the nodelet manager -->
	<arg name="num_worker_threads" default="4" />

	<arg name="namespace" value="rpi3" />

	<group ns="$(arg namespace)">

		<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
			<param name="resolution" value="0.05" />

			<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
			<param name="frame_id" type="string" value="map" />

			<param name="base_frame_id" type="string" value="base_link" />

			<!-- maximum range to integrate (speedup!) -->
			<param name="sensor_model/max_range" value="5.0" />

			<!-- data source to integrate (PointCloud2) -->
			<remap from="cloud_in" to="/rpi3/camera/depth/points" />

			<param name="latch" value="true" />

			<!-- max/min height for occupancy map, should be in meters -->
			<param name="pointcloud_max_z" value="2" />
			<param name="pointcloud_min_z" value="0" />

		</node>

	</group>

</launch>



