<html>
<head>

	<title>Three M web server</title>

	<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1; user-scalable=no;"/>
	<meta name="MobileOptimized" content="width" />
	<meta name="HandheldFriendly" content="true" />
	<link rel="stylesheet" type="text/css" href="style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="js/angularjs-slider/rzslider.js"></script>
	<link rel="stylesheet" href="js/angularjs-slider/dist/rzslider.css">
	<script src="js/spin.js/spin.js"></script>
	<script src="js/angular-spinner/angular-spinner.js"></script>
	<script src="app.js"></script>

</head>
<body ng-cloak ng-app="app">
	<div ng-controller="rocontrol">

		<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-busy"></span>

		<div>
			MaxP: <rzslider rz-slider-step="2" rz-slider-precision="2" rz-slider-model="power" rz-slider-ceil="255" rz-slider-floor="55"/>
		</div>

		<div>
			Steps: <rzslider rz-slider-step="1" rz-slider-precision="1" rz-slider-model="steps" rz-slider-ceil="100" rz-slider-floor="1"/>
		</div>

		<table class="cnt">
			<tr>
				<td>
					<span class="brect">
						<span ng-hide="!busy">Busy</span>
					</span>
				</td>
				<td>
					<div class="squaredOne">
						<input type="radio" ng-value="{command: 'mv_fwd', params: {power: power, steps: steps}}" ng-model="cmd_json" id="mv_fwd"/>
						<label for="mv_fwd"></label>
					</div>
				</td>
				<td>
					<span class="brect"></span>
				</td>
				<td>
					<font color='white'>
						{{state.heading| number: 3}}<br/>
						{{state.V| number: 3}}<br/>
					</font>
				</td>
			</tr>
			<tr>
				<td>
					<div class="squaredOne">
						<input type="radio" ng-value="{command: 't_left', 'params': {power: power, steps: steps}}" ng-model="cmd_json" id="t_left"/>
						<label for="t_left"></label>
					</div>
				</td>
				<td>
					<div class="squaredOne red">
						<input type="radio" ng-value="{command: 'stop'}" ng-model="cmd_json" id="stop"/>
						<label for="stop"></label>
					</div>
				</td>
				<td>
					<div class="squaredOne">
						<input type="radio" ng-value="{command: 't_right', params: {power: power, steps: steps}}" ng-model="cmd_json" id="t_right"/>
						<label for="t_right"></label>
					</div>
				</td>
				<td>
					<font color='white'>
						Cnt:{{state.Lcount| number: 0}}:{{state.Rcount| number: 0}}<br/>
						Pwr:{{state.Lpower| number: 0}}:{{state.Rpower| number: 0}}
					</font>
				</td>
			</tr>
			<tr>
				<td>
					<span class="brect"></span>
				</td>
				<td>
					<div class="squaredOne">
						<input type="radio" ng-value="{command: 'mv_back', params: {power: power, steps: steps}}" ng-model="cmd_json" id="mv_back"/>
						<label for="mv_back"></label>
					</div>
				</td>
				<td>
					<span class="brect"></span>
				</td>
				<td>
					<font color='white'>
						T:{{state.T| number: 1}}<br/>
						AXM:{{state.acc_x_max| number: 2}}
					</font>
				</td>
			</tr>
		</table>

		<div>
			Period: <rzslider rz-slider-step="0.5" rz-slider-precision="0.1" rz-slider-model="period" rz-slider-ceil="10" rz-slider-floor="0.5"/>
		</div>

		<div class="reply">{{reply_message}}</div>

		<table>
			<tr>
				<td rowspan="4">
					<label>{{last_img_uri}}
						<img width="160" height="120" alt="image" ng-src="{{imgsrc}}"/>
					</label>
				</td>
				<td>
					<button ng-click="reload_img()">Reload</button>
				</td>
				<td rowspan="4">
				</td>
			</tr>
			<tr>
				<td>
					<button ng-click="update_img('update_image/')">Update</button>
				</td>
			</tr>
			<tr>
				<td>
					<button ng-click="update_img('threshold_image/1')">Threshold</button>
				</td>
			</tr>
		</table>

		<div class="error">
			{{error_text}}
		</div>

		<div>
			Brightness: <rzslider rz-slider-step="1" rz-slider-precision="1" rz-slider-model="brightness" rz-slider-ceil="100" rz-slider-floor="0"/>
		</div>
		<div>
			Contrast: <rzslider rz-slider-step="1" rz-slider-precision="1" rz-slider-model="contrast" rz-slider-ceil="100" rz-slider-floor="0"/>
		</div>
		<div>
			Shutter: <rzslider rz-slider-step="1" rz-slider-precision="1" rz-slider-model="shutter" rz-slider-ceil="5" rz-slider-floor="0"/>
		</div>

	</div>

</body>
</html>
