<launch>
	<node name="img2www" pkg="oculus2wd" type="img2www" args="
		image:=/camera/rgb/image_raw
		disparity:=/camera/depth_registered/disparity
		image_motion:=/oculus2wd/image_motion_nd
		image_motion1:=/oculus2wd/image_motion1_nd
		image_segment_object:=/oculus2wd/segment_object_nd
		_filename_raw:=/var/www/rgbframe/frame.jpg
		_filename_color:=/var/www/rgbframe/frame_color.jpg
		_filename_skin:=/var/www/rgbframe/frame_skin.jpg
		_filename_circles:=/var/www/rgbframe/frame_circles.jpg
		_filename_disparity:=/var/www/rgbframe/frame_disparity.jpg
		_filename_motion:=/var/www/rgbframe/frame_motion.jpg
		_filename_motion1:=/var/www/rgbframe/frame_motion1.jpg
		_filename_segment_object:=/var/www/rgbframe/frame_segment_object.jpg
	" />
</launch>
