<launch>
<node name="$(anon status)" pkg="oculus2wd" type="status.py" />
<node name="$(anon soundplay_node)" pkg="sound_play" type="soundplay_node.py" />
<node name="$(anon powerhelp)" pkg="oculus2wd" type="powerhelp.py" />
<node name="$(anon base_serial_node)" pkg="rosserial_python" type="serial_node.py" args="/dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A4015M29-if00-port0"/>
</launch>
