<launch>

<!--  <arg name="depth_mode" default="2" /> -->

  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch"/>
  <node name="status" pkg="oculus2wd" type="status.py" />
  <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py" />
  <node name="powerhelp" pkg="oculus2wd" type="powerhelp.py" />
  <node name="laptop_battery" pkg="linux_hardware" type="laptop_battery.py" />
  <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>
<!--  <node pkg="nodelet" type="nodelet" name="brightness_nd" args="load brightness_nd/BrightnessNd standalone_nodelet" output="screen" /> -->
<!--  <node name="$(anon base_serial_node)" pkg="rosserial_python" type="serial_node.py" args="/dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A4015M29-if00-port0"/> -->

<!--  <node pkg="rosserial_server" type="serial_node" name="rosserial_server">
    <rosparam>
      port: /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A4015M29-if00-port0
    </rosparam>
  </node> -->
 <include file="$(find oculus2wd)/launch/img2www.launch"/>

</launch>
