[Unit]
Description=MQ sensors
After=network.target

[Service]
ExecStart=/home/n800s/work/roborep/ard_esp8266/MQsensors/udp_recv.py
WorkingDirectory=/home/n800s/work/roborep/ard_esp8266/MQsensors/
User=n800s
Group=n800s
Restart=always

[Install]
WantedBy=multi-user.target
